// Custom styles that I don't know where else to put
// Could be considered utilities?

.extra-padding {
	padding: 65px 0;
}

#menu img,
#gallery img {
	width: 100%;
	height: 175px;
	object-fit: cover;
}