// FROM PARALLAX TUTORIAL:
// https://codyhouse.co/gem/alternate-fixed-scroll-backgrounds/

body, html, main {
	/* important */
	height: 100%;
}
 
.parallax-fixed-bg {
	min-height: 100%;
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: center center;
}
 
// TODO: Replace file names with variables

.parallax-fixed-bg.parallax-bg-1 {
  background-image: url("../img/bg1.png");
}
.parallax-fixed-bg.parallax-bg-2 {
  background-image: url("../img/bg2.png");
}
.parallax-fixed-bg.parallax-bg-3 {
  background-image: url("../img/bg3.png");
}
.parallax-fixed-bg.parallax-bg-4 {
  background-image: url("../img/bg4.png");
}
 
.parallax-scrolling-bg {
	min-height: 100%;
}

//FOR COLORING THE TEXT SECTIONS
//TODO: CHOOSE COLORS
.color-bg-primary{
  background:#a1db87;
  background:rgba(161,219,135,0.5) 
}
.color-bg-secondary{
  background:#e6e6e6;
}

// Used for setting height of image sections
// Allows text to vertically center
.height-100vh {
	height: 100vh;
}

//Add shadow to text
.text-shadow{
    text-shadow: 1px 1px #000;
}
//Image sizing
.width-100 {
    width: 100%;
}
//FONT
.font-italic {
    font-style:italic;
}
